%round-avatar {
  border-radius: 50%;
}

.chat-avatar {
  @extend %round-avatar;
  height: 100%;
}

.chat-list-avatar {
  @extend %round-avatar;
  height: 8vh;
}

.profile-avatar {
  @extend %round-avatar;

  height: 13vh;
}
