@import 'material-icons/iconfont/material-icons.css';

.translate-type-button {
  display: flex;
  align-items: center;
  gap: 1vw;
  border: 1px solid lightblue;
  margin-left: 5vw;
  width: 15vw;
  justify-content: center;

  :active {
    background-color: cornflowerblue;
  }
}