@import '../../Index.scss';

footer {
  @extend %row-oriented;

  border-top: 1px solid $meta-color;
  background-color: white;
  position: fixed;
  bottom: 0;

  height: 10vh;
  width: 100%;

  :nth-child(2) {
    margin-left: auto;
  }
}

.image-preview {
  position: fixed;
  max-width: 20vh;
  max-height: 15vh;
  bottom: 11vh;
  left: 2vh;
  border-radius: 1vh;
}

.attach-button-label {
  @extend %footer-button-props;

  display: flex;
  justify-content: center;
  font-family: material icons, serif;
}