.chat {
    display: flex;
    margin-top: 11vh;
    padding-bottom: 9vh;
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    overflow-y: auto;
    gap: 3em;
}

.message-block {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    overflow-wrap: anywhere;
    border-radius: 3em;
    padding: 2em;
    background-color: #F3E5F5;
    border: 1px solid gray;
    gap: 1em;
    z-index: 800;
    animation-duration: 1s;
    animation-name: fadeIn;
}

.message-companion {
    margin-left: 2em;
    align-self: flex-start;
}

.message-user {
    margin-right: 2em;
    align-self: flex-end;
}

.companion-avatar {
    border-radius: 50%;
}

.message-text {
    align-self: flex-end;
    line-height: 1em;
    font-size: 3.5em;
    color: #1e1e1e;
}

.message-meta {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1em;
    margin-top: 10px;
}

.message-date {
    color: gray;
    align-self: center;
    font-size: 2.5em;
}

.message-status {
    align-self: center;
    color: #9F47B7;
}

.material-icons.message-status {
    font-size: 3em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
