header {
    display: flex;
    position: fixed;
    background-color: #8E24AA;
    width: 100%;
    height: 10vh;
    font-size: 3vh;
    top: 0;
    z-index: 900;
}

.companion-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    padding-left: 2vw;
    align-items: center;
}

.companion-avatar {
    height: 7vh;
    width: 7vh;
}

.companion-meta {
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    gap: 0.6em;
}

.companion-name {
    color: white;
    max-width: 15em;
}

.companion-online {
    color: lightgray;
    line-height: 1em;
    font-size: 0.5em;
}

.header-button {
    background-color: rgba(142, 36, 170, 0);
    flex-basis: 10vh;
    margin-left: auto;
    color: white;
    border: 0;
}

.material-icons.header-button {
    font-size: 4vh;
}

.header-button .search, .menu, .go-back {
    transition: all 0.9s;
}

.header-button .go-back:hover {
    animation: swing 2s ease;
    animation-iteration-count: 1;
}

.header-button .search:hover {
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}

.header-button .menu:hover {
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.header-button .menu:hover, .search:hover, .go-back:hover {
    scale: 140%;
}

@keyframes swing {
    15% {
        transform: translateX(-0.8vw);
    }
    30% {
        transform: translateX(0.7vw);
    }
    45% {
        transform: translateX(-0.3vw);
    }
    60% {
        transform: translateX(-0.3vw);
    }
    75% {
        transform: translateX(0.3vw);
    }
    90% {
        transform: translateX(-0.1vw);
    }
}
