@import '../../Index.scss';


@mixin transform($property) {
  scale: 140%;

  color: #00D9E7;

  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

// TODO change rotateZ for back:hover
.back:hover, .apply:hover, .menu:hover {
  scale: 120%;
  color: #00D9E7;
}

.search:hover {
  @include transform(rotateZ(-360deg));
}

.more:hover {
  @include transform(rotateZ(-90deg));
}


.new-chat-button:active {
  background-color: yellow;
  box-shadow: 0 0 2px darkslategray;
}

.new-chat-button:hover {
  scale: 120%;
}
