header {
    display: flex;
    background-color: #8E24AA;
    width: 100%;
    height: 10vh;
}

.page-title {
    display: flex;
    flex-grow: 1;
    font-size: 5em;
    color: white;
    align-items: center;
    padding-left: 10px;
}

.header-button {
    background-color: #8E24AA;
    flex-basis: 10vw;
    padding-left: 0.5em;
    color: white;
    border: 0;
}

.material-icons.header-button {
    font-size: 6em;
    transition: color 0.3s, scale 0.5s;
}

.material-icons.header-button:hover {
    color: yellow;
    scale: 150%;
}

/* Just for now, change later */
.header-button:active, .material-icons.header-button:active {
    background-color: rgba(211, 211, 211, 0.15);
    transform: translateY(2px);
}
