@import 'src/components/Index';
@import 'src/components/Atoms/CompanionName/CompanionName';


%content {
  display: flex;
  width: 100%;
  margin-top: 10vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.content-chat {
  @extend %content;
  @extend %column-oriented;

  height: 80%;
  vertical-align: bottom;
  padding: 1vh;
  gap: 1vh;

  :first-child {
    margin-top: auto;
  }
}

.content-chat-list {
  @extend %content;
  @extend %column-oriented;

  height: 90%;

  .chat {
    @extend %row-oriented;

    padding-left: 1vw;
    height: 10vh;
    flex-shrink: 0;
    border-bottom: 0.1vh solid lightgray;

    .chat-data {
      @extend %row-oriented;

      .chat-info {
        @extend %column-oriented;

        height: 100%;
        margin-left: 1vw;
        width: 70vw;
      }
    }
  }
}

.content-profile {
  @extend %content;
  @extend %column-oriented;

  align-items: center;
  margin-top: 15vh;
  gap: 5vh;

  .content-particle {
    @extend %column-oriented;

    width: 85%;

    .content-atom {
      @extend %column-oriented;

      padding-left: 1vw;
      gap: 2vh;

      background-color: #D3D3D37F;
      border-top-left-radius: 1vh;
      border-top-right-radius: 1vh;
      border-bottom: 0.5vh solid $meta-color;
      transition: 1s;
    }

    .content-atom:focus-within {
      background-color: #CF9FFF7F;
      background-position: 0 100%;
      border-bottom: 0.5vh solid $main-color;
    }
  }
}

.content-not-found {
  font-size: 10vh;
}