@import 'src/components/Index.scss';


%no-outline-input {
  border: none;
  outline: none;
  background-color: $no-background;
}

.chat-input {
  @extend %no-outline-input;

  width: 100%;
  padding-left: 1vh;
  font-size: 2.5vh;
}

.profile-input {
  @extend %no-outline-input;

  font-size: 3vh;
}
