@import 'src/components/Index.scss';


header {
  @extend %row-oriented;

  background-color: $main-color;
  align-items: center;
  position: fixed;
  top: 0;

  width: 100%;
  height: 10vh;

  .companion {
    @extend %row-oriented;

    gap: 1vw;
    height: 80%;

    .companion-info {
      @extend %column-oriented;

      justify-content: center;
    }
  }
}


