.main-page-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.working-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vw;
}

.result-area, .insert-area {
  font-size: 2vh;
  height: 30vh;
  width: 42vw;
  border: 1px solid lightgrey;
}
